.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	height: 3rem;
	background-color: var(--dark-gray);
	position: sticky;
	top: 0;
	z-index: 100;
}

.menu__right {
	display: flex;
	gap: 0.333rem;
}

.menu__link {
	display: inline-flex;
	align-items: center;
	padding: 0.417rem 0.833rem;
	font-size: 0.667rem;
	font-weight: 500;
	color: var(--light-gray);
	background-color: var(--dark-gray);
	text-decoration: none;
	border: none;
	border-radius: 0.25rem;
	transition:
		color 0.2s,
		background-color 0.2s;
}

.menu__link:hover {
	color: var(--light-gray);
	background-color: var(--dark-blue);
	cursor: pointer;
}

.menu__link.active,
.menu__link.active:hover {
	background-color: var(--light-gray);
	color: var(--dark-gray);
}

.menu__link--accent {
	color: var(--accent);
}

.menu__link--accent:hover {
	color: var(--accent);
	background-color: var(--dark-blue);
}

.btn__add-post {
	position: absolute;
	bottom: 3rem;
	right: 3rem;
	background-color: var(--light-gray);
	color: black;
	font-size: .6rem;
	font-weight: 500;

	padding: 1rem 1.5rem;
	border: none;
	border-radius: 0.6rem;
	transition: 0.2s all;
}

.btn__add-post:hover {
	cursor: pointer;
	transform: translateY(-6%);

	box-shadow: 0.2rem 0.2rem 0.3rem -0.2rem black;
}
